<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{{ title }} - The Procrastinator's Timeclock @ GitHub</title>

    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    <link rel="stylesheet" href="base.css" type="text/css" />

    <script type="text/javascript" src="jquery_lightbox/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript"
        src="jquery_lightbox/js/jquery.lightbox.min.js?ie6_upgrade=false&amp;show_info=true&amp;show_linkback=false&amp;opacity=0.7&amp;download_link=false&amp;auto_resize=false&amp;show_extended_info=true"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
    /* ]]> */</script>
</head>

<body>
    <div class="ribbon"><a href="http://github.com/ssokolow/timeclock"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a></div>

  <div id="container">

    <div class="download">
      <a href="http://github.com/ssokolow/timeclock/zipball/master">
        <img width="80" src="images/zip.png" alt="Zip" /></a>
      <a href="http://github.com/ssokolow/timeclock/tarball/master">
        <img width="80" src="images/tar.png" alt="Tar" /></a>
    </div>

    <h1><a href="./">The Procrastinator's Timeclock</a>
        <span class="small">by <a href="http://github.com/ssokolow">ssokolow</a></span></h1>

    {{ content }}

  </div>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://blog.ssokolow.com/stats/" : "http://blog.ssokolow.com/stats/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://blog.ssokolow.com/stats/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>
